# Task 3: Statistical Hypothesis Testing for Risk Drivers (Using Utils)

This notebook statistically validates or rejects key hypotheses about risk drivers in the insurance dataset, utilizing modular utility functions for clarity and maintainability.

In [16]:
# Import Required Libraries
import pandas as pd
import numpy as np
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.pardir, os.pardir)))
import matplotlib.pyplot as plt
import seaborn as sns
sys.path.insert(0, '../src')
project_root = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
if project_root not in sys.path:
    sys.path.insert(0, project_root)


project_root = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
src_path = os.path.join(project_root, 'src')
utils_path = os.path.join(src_path, 'utils')
from utils.task3_utils import chi2_test, t_test, claim_frequency, claim_severity, margin, plot_group_metric
open(os.path.join(src_path, '__init__.py'), 'a').close()
open(os.path.join(utils_path, '__init__.py'), 'a').close()

In [17]:
# Load Data

df = pd.read_csv('../data/MachineLearningRating_v3.txt', delimiter='	')
# Display basic info
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Non-Null Count    Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                --------------    -----
 0   UnderwrittenCoverID|PolicyID|TransactionMonth|IsVATRegistered|Citizenship|LegalType|Title|Language|Bank|AccountType|MaritalStatus|Gender|Country|Province|PostalCode|MainCrestaZone|SubCrestaZone|ItemType|mmcode|VehicleType|RegistrationYear|make|Model|Cylinders|cubiccapacity|kilowatts|bodytype|NumberOfDoors|VehicleIntroDate|CustomValueEstimate|AlarmImmobiliser|TrackingDevice|CapitalOutstanding|NewVehicle|WrittenOff|Rebuilt|Converted|CrossBorder|NumberOfVehiclesInFleet|SumInsured|TermFrequency|CalculatedPremiumPerTerm|ExcessSelected|CoverCategory|CoverType|CoverGroup|Section|Product|StatutoryClass|StatutoryRiskType|TotalPremium|TotalClaims  1000098 non-null  object
dtypes: object(1)
memory usage: 7.6+ MB

  UnderwrittenCoverID|PolicyID|TransactionMonth|IsVATRegistered|Citizenship|LegalType|Title|Language|Bank|AccountType|MaritalStatus|Gender|Country|Province|PostalCode|MainCrestaZone|SubCrestaZone|ItemType|mmcode|VehicleType|RegistrationYear|make|Model|Cylinders|cubiccapacity|kilowatts|bodytype|NumberOfDoors|VehicleIntroDate|CustomValueEstimate|AlarmImmobiliser|TrackingDevice|CapitalOutstanding|NewVehicle|WrittenOff|Rebuilt|Converted|CrossBorder|NumberOfVehiclesInFleet|SumInsured|TermFrequency|CalculatedPremiumPerTerm|ExcessSelected|CoverCategory|CoverType|CoverGroup|Section|Product|StatutoryClass|StatutoryRiskType|TotalPremium|TotalClaims
0  145249|12827|2015-03-01 00:00:00|True|  |Close...
1  145249|12827|2015-05-01 00:00:00|True|  |Close...
2  145249|12827|2015-07-01 00:00:00|True|  |Close...
3  145255|12827|2015-05-01 00:00:00|True|  |Close...
4  145255|12827|2015-07-01 00:00:00|True|  |Close...

## Hypotheses and Metrics
We test the following null hypotheses (Hâ‚€):

- There are no risk differences across provinces
- There are no risk differences between zip codes
- There are no significant margin (profit) differences between zip codes
- There are no significant risk differences between Women and Men

**Metrics:**
- Claim Frequency
- Claim Severity
- Margin (TotalPremium - TotalClaims)

In [18]:
file_path = '../data/MachineLearningRating_v3.txt'

for sep in [',', '|', '\t']:
    print(f"\nTrying sep='{sep}':")
    try:
        df_sample = pd.read_csv(file_path, sep=sep, nrows=5)
        print(df_sample.head())
        print("Columns:", df_sample.columns.tolist())
    except Exception as e:
        print("Error:", e)

Trying sep=',':
  UnderwrittenCoverID|PolicyID|TransactionMonth|IsVATRegistered|Citizenship|LegalType|Title|Language|Bank|AccountType|MaritalStatus|Gender|Country|Province|PostalCode|MainCrestaZone|SubCrestaZone|ItemType|mmcode|VehicleType|RegistrationYear|make|Model|Cylinders|cubiccapacity|kilowatts|bodytype|NumberOfDoors|VehicleIntroDate|CustomValueEstimate|AlarmImmobiliser|TrackingDevice|CapitalOutstanding|NewVehicle|WrittenOff|Rebuilt|Converted|CrossBorder|NumberOfVehiclesInFleet|SumInsured|TermFrequency|CalculatedPremiumPerTerm|ExcessSelected|CoverCategory|CoverType|CoverGroup|Section|Product|StatutoryClass|StatutoryRiskType|TotalPremium|TotalClaims
0  145249|12827|2015-03-01 00:00:00|True|  |Close...
1  145249|12827|2015-05-01 00:00:00|True|  |Close...
2  145249|12827|2015-07-01 00:00:00|True|  |Close...
3  145255|12827|2015-05-01 00:00:00|True|  |Close...
4  145255|12827|2015-07-01 00:00:00|True|  |Close...
Columns: ['UnderwrittenCoverID|PolicyID|TransactionMonth|IsVATRegistered|Citizenship|LegalType|Title|Language|Bank|AccountType|MaritalStatus|Gender|Country|Province|PostalCode|MainCrestaZone|SubCrestaZone|ItemType|mmcode|VehicleType|RegistrationYear|make|Model|Cylinders|cubiccapacity|kilowatts|bodytype|NumberOfDoors|VehicleIntroDate|CustomValueEstimate|AlarmImmobiliser|TrackingDevice|CapitalOutstanding|NewVehicle|WrittenOff|Rebuilt|Converted|CrossBorder|NumberOfVehiclesInFleet|SumInsured|TermFrequency|CalculatedPremiumPerTerm|ExcessSelected|CoverCategory|CoverType|CoverGroup|Section|Product|StatutoryClass|StatutoryRiskType|TotalPremium|TotalClaims']

Trying sep='|':
   UnderwrittenCoverID  PolicyID     TransactionMonth  IsVATRegistered  \
0               145249     12827  2015-03-01 00:00:00             True
1               145249     12827  2015-05-01 00:00:00             True
2               145249     12827  2015-07-01 00:00:00             True
3               145255     12827  2015-05-01 00:00:00             True
4               145255     12827  2015-07-01 00:00:00             True

  Citizenship          LegalType Title Language                 Bank  \
0              Close Corporation    Mr  English  First National Bank
1              Close Corporation    Mr  English  First National Bank
2              Close Corporation    Mr  English  First National Bank
3              Close Corporation    Mr  English  First National Bank
4              Close Corporation    Mr  English  First National Bank

       AccountType  ...                    ExcessSelected CoverCategory  \
0  Current account  ...             Mobility - Windscreen    Windscreen
1  Current account  ...             Mobility - Windscreen    Windscreen
2  Current account  ...             Mobility - Windscreen    Windscreen
3  Current account  ...  Mobility - Metered Taxis - R2000    Own damage
4  Current account  ...  Mobility - Metered Taxis - R2000    Own damage

    CoverType            CoverGroup              Section  \
0  Windscreen  Comprehensive - Taxi  Motor Comprehensive
1  Windscreen  Comprehensive - Taxi  Motor Comprehensive
2  Windscreen  Comprehensive - Taxi  Motor Comprehensive
3  Own Damage  Comprehensive - Taxi  Motor Comprehensive
4  Own Damage  Comprehensive - Taxi  Motor Comprehensive

                           Product StatutoryClass StatutoryRiskType  \
0  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
1  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
2  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
3  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
4  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant

   TotalPremium TotalClaims
0     21.929825         0.0
1     21.929825         0.0
2      0.000000         0.0
3    512.848070         0.0
4      0.000000         0.0

[5 rows x 52 columns]
Columns: ['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth', 'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language', 'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province', 'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode', 'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders', 'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors', 'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser', 'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff', 'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet', 'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm', 'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section', 'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium', 'TotalClaims']

Trying sep='	':
  UnderwrittenCoverID|PolicyID|TransactionMonth|IsVATRegistered|Citizenship|LegalType|Title|Language|Bank|AccountType|MaritalStatus|Gender|Country|Province|PostalCode|MainCrestaZone|SubCrestaZone|ItemType|mmcode|VehicleType|RegistrationYear|make|Model|Cylinders|cubiccapacity|kilowatts|bodytype|NumberOfDoors|VehicleIntroDate|CustomValueEstimate|AlarmImmobiliser|TrackingDevice|CapitalOutstanding|NewVehicle|WrittenOff|Rebuilt|Converted|CrossBorder|NumberOfVehiclesInFleet|SumInsured|TermFrequency|CalculatedPremiumPerTerm|ExcessSelected|CoverCategory|CoverType|CoverGroup|Section|Product|StatutoryClass|StatutoryRiskType|TotalPremium|TotalClaims
0  145249|12827|2015-03-01 00:00:00|True|  |Close...
1  145249|12827|2015-05-01 00:00:00|True|  |Close...
2  145249|12827|2015-07-01 00:00:00|True|  |Close...
3  145255|12827|2015-05-01 00:00:00|True|  |Close...
4  145255|12827|2015-07-01 00:00:00|True|  |Close...
Columns: ['UnderwrittenCoverID|PolicyID|TransactionMonth|IsVATRegistered|Citizenship|LegalType|Title|Language|Bank|AccountType|MaritalStatus|Gender|Country|Province|PostalCode|MainCrestaZone|SubCrestaZone|ItemType|mmcode|VehicleType|RegistrationYear|make|Model|Cylinders|cubiccapacity|kilowatts|bodytype|NumberOfDoors|VehicleIntroDate|CustomValueEstimate|AlarmImmobiliser|TrackingDevice|CapitalOutstanding|NewVehicle|WrittenOff|Rebuilt|Converted|CrossBorder|NumberOfVehiclesInFleet|SumInsured|TermFrequency|CalculatedPremiumPerTerm|ExcessSelected|CoverCategory|CoverType|CoverGroup|Section|Product|StatutoryClass|StatutoryRiskType|TotalPremium|TotalClaims']

## Data Segmentation
For each hypothesis, we define Group A and Group B and ensure comparability.

In [19]:
df = pd.read_csv('../data/MachineLearningRating_v3.txt', sep='|')
print(df.columns.tolist())
print(df.head())

C:\Users\senta\AppData\Local\Temp\ipykernel_21248\1513908903.py:1: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/MachineLearningRating_v3.txt', sep='|')

['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth', 'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language', 'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province', 'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode', 'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders', 'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors', 'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser', 'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff', 'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet', 'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm', 'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section', 'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium', 'TotalClaims']
   UnderwrittenCoverID  PolicyID     TransactionMonth  IsVATRegistered  \
0               145249     12827  2015-03-01 00:00:00             True
1               145249     12827  2015-05-01 00:00:00             True
2               145249     12827  2015-07-01 00:00:00             True
3               145255     12827  2015-05-01 00:00:00             True
4               145255     12827  2015-07-01 00:00:00             True

  Citizenship          LegalType Title Language                 Bank  \
0              Close Corporation    Mr  English  First National Bank
1              Close Corporation    Mr  English  First National Bank
2              Close Corporation    Mr  English  First National Bank
3              Close Corporation    Mr  English  First National Bank
4              Close Corporation    Mr  English  First National Bank

       AccountType  ...                    ExcessSelected CoverCategory  \
0  Current account  ...             Mobility - Windscreen    Windscreen
1  Current account  ...             Mobility - Windscreen    Windscreen
2  Current account  ...             Mobility - Windscreen    Windscreen
3  Current account  ...  Mobility - Metered Taxis - R2000    Own damage
4  Current account  ...  Mobility - Metered Taxis - R2000    Own damage

    CoverType            CoverGroup              Section  \
0  Windscreen  Comprehensive - Taxi  Motor Comprehensive
1  Windscreen  Comprehensive - Taxi  Motor Comprehensive
2  Windscreen  Comprehensive - Taxi  Motor Comprehensive
3  Own Damage  Comprehensive - Taxi  Motor Comprehensive
4  Own Damage  Comprehensive - Taxi  Motor Comprehensive

                           Product StatutoryClass StatutoryRiskType  \
0  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
1  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
2  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
3  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
4  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant

   TotalPremium TotalClaims
0     21.929825         0.0
1     21.929825         0.0
2      0.000000         0.0
3    512.848070         0.0
4      0.000000         0.0

[5 rows x 52 columns]

## Statistical Testing
Appropriate tests are performed for each hypothesis using utility functions.

- Chi-squared for categorical (claim frequency)
- T-test for numerical (claim severity, margin)

In [20]:
# Create a binary column for claim occurrence
df['HasClaim'] = df['TotalClaims'] > 0

# Segment by Province
group_a = df[df['Province'] == 'Gauteng']
group_b = df[df['Province'] == 'Western Cape']

# Segment by Gender
group_men = df[df['Gender'] == 'Male']
group_women = df[df['Gender'] == 'Female']


# Chi-squared test for claim frequency between provinces
chi2, p, dof, expected = chi2_test(df, 'Province', 'HasClaim')
print(f'Chi-squared test p-value (Province): {p:.4f}')

# T-test for claim severity between two provinces
sev_a = group_a[group_a['TotalClaims'] > 0]['TotalClaims']
sev_b = group_b[group_b['TotalClaims'] > 0]['TotalClaims']
t_stat, p_val = t_test(sev_a, sev_b)
print(f'T-test p-value (Claim Severity, Gauteng vs Western Cape): {p_val:.4f}')

# T-test for margin between two postal codes
print(df['PostalCode'].unique()) 

zip_a = df[df['PostalCode'] == '2000']
zip_b = df[df['PostalCode'] == '8001']
margin_a = zip_a['TotalPremium'] - zip_a['TotalClaims']
margin_b = zip_b['TotalPremium'] - zip_b['TotalClaims']
t_stat, p_val = t_test(margin_a, margin_b)
print(f'T-test p-value (Margin, PostalCode 2000 vs 8001): {p_val:.4f}')

# T-test for risk difference between Women and Men
sev_men = group_men[group_men['TotalClaims'] > 0]['TotalClaims']
sev_women = group_women[group_women['TotalClaims'] > 0]['TotalClaims']
t_stat, p_val = t_test(sev_men, sev_women)
print(f'T-test p-value (Claim Severity, Men vs Women): {p_val:.4f}')

Chi-squared test p-value (Province): 0.0000
T-test p-value (Claim Severity, Gauteng vs Western Cape): 0.0306
[1459 1513 1619 1625 1629 1852 1982 2007 2066 4093 2000 1577 1610 2410
 6200  122 1520 1709 1739 4000 4066 4091 4342 4359 7784  970 6213 6390
 1868 4310  299  309  152  181 1821 4449 4037  139 4074 1057 7100 9725
 1863 1875 2001 2091 3170 3950 1021 2380  300  302  458 7750  157 4811
 4930 5000 5090 5160 5219 5410 5920 6025 6139 5040 6201 6212 6231 9744
    1    8   64   84  162  164 8000  182  183  186  190 5326  192  194
  199  200  201  208  258  264 1431 1441 1455 1494 1496  284 9762 1507
 1540 1559 1571 1724 1754 1757 1759 1779 1803 1804 1806 1809 1818 1828
 1830 1862 1864 1865 1984 2014 2019 2021 2040 2090 2188 2198 3180 3200
 3245 3310 3380 3609 3610 3612 3613 3370 3600 3629 3630 3650 3780 3900
 3934 3973 5143 3880 3882 3915 4001 4004 4011 4023 4027 4051 4052 4053
 4056 4057 4059 4060 4061 4063 4071 4089 4092 4105 4110 4111 4126 4137
 4140 4180 4200 4240 4260 4309 4340 4360 4450 4700  530  555  556  607
  699  738  827 1022 1123 1133 2375 2415 2499 4068 2951 2952 3602 4182
 4490 1030  250  308  316  335  404  407  314  322  472 2744 8345 8566
 8601 8701 6705 6708 6835 3887 8599 7130 7140 7160 7441 7455 7490 7500
 7570 7405 7571 7580 7620 7655  450 7764 7780 7785 7786 7793 3910 7806
 7888 7941 7945 1980  902 4820 5100 5120 5201 5247 6140 6500 9323 9730
 9869    4   22  118  120  147  161 7460  177 7646  179  184  198 1458
 1491 1541 1550 1612 1666 1682 1751 1841 1860 1884 1939  331  303  338
 8580 8584 2620 8570 7925 2061 7947 2094 2128 2194 3290 3635 4100 4275
 4339 4454  628  700  742  812  942 1020 1059 1060 1061 1085 4058  310
  318  400  456  470  479 2531 2865 2876 8160 8190 6838 6875 7195 7437
 7501 7503 7600 8020 8051 5252 5319 5321 5670 6059 6211 6242 9300 9301
 9325 5600 9431 9447 9745 9750 9781    2    5   29  125  153  168  172
  269 1426 1449 1454 1462 1475 1575 1632 1640 1740 1811 1813 1835 1874
 1928 1940 1947 1949 2069 2070 2092 2190 2192 2195 2940 3201 3217 3607
 3680 3700 3750 3802 3815 3855 7350 4069 4070 4084 4099 4133 4145 4380
 4470  557  561  608  609  623  690  727  739  745  746  821  951 1024
 1035 1047 1050 1053 1062 1098 1365  311  320  333  360  362  370  382
  449  457  459  473  474 2502 2574 2610 2740 2840 2841 2860 2868 2869
 2890 8149 8301 8309 8530 6600 6848 7101 7220 7525 7550 7690 7783 7800
 8001 2920 4810 5070 5099 5130 5180 5480 5601 5611 5900 6229  116  277
 1424 1548 1620  305 1745 1805 1812 1900 1948 1983 2010 2093 2125 2170
 3000 3306 3616 3652 3965 3350 4019 4148 4400 4457 4491 4730  600  982
 1026 1027 1034 1055 1120 1280 1342 1360 2735 2745 2881 7103 7439 7493
 7782 7788 7975 8060 4960 5050 5140 5320 5322 5380 5608 6105 9459 9700
 9870   17   31   37   49   81  112  121  149  154  268 1401 1405 1423
 1425 1460 1471 1560 1570 1618 1685 1700 1710 1781 1820 1930 1932 1747
 2056 2191 2196 2197 2930 3257 3615 3925 3969 4008 4030 4065 4094 4132
 4150 4220 2055 4399 4680  708  748  920 1039 1064 1068 1072 1150 1389
  301 4125  355  365  379  465  467  476 2870 8165 8446 6506 7000 7133
 7406 7581 7700 7751 8017 4800 5170 5500 5700 6000 6001 6205 9445 9600
   35   66 1457 1501 1693 1774 1819 1824 1827 1837 2017 3105 3276 3297
 3381 3920 4144 4170  617  925  950  993 1054 1124 1126 1245 2420  380
  414  422  475 2500 2534 2754 2791 8170 6571 7310 7380 7442 7530 7612
 7745 7755 8040 5185 3135 4401  939 6280    6   21  151 1466 1519 1725
 1791 2143 3624 4031 4062 4075 4270 4302 4319  631  743  790 1003 1023
 1372 2351  337  455 2880 2882 7200 7569 7801 8005 5365 5614 1630 1851
 1867 2008 3010 3203 3670 4691  737 1250  477 7144 4990 5200 5209 5660
 5720 9334 9752 9868   54  129  187  195  220 1687 1742 1834 1963 2189
 3080 3150 3250 3837 3838 3865 3935 3968 4250  751  931 1000 1038 1129
 2230  292 1807  317  399  431  469  485  486 2835 8271 8447 6570 7340
 7532 7626 4980 4430 7456 5470 6241 9306 9830   44 6720  193  196 1474
 1861 2018 2063 2095 3651 4405 6810 1058  453  495 2571 2619 8306 8575
 6625 7802  356  984 5253 5362 5435 5455 9499 9756  101  143  175 1448
 1743 1801 1869 2028 3242 3270  721  736  802  945 1240 2231  307  351
  388 2507 1829 1914 6350  837 6120 1421 1154  325 7540 2470 6850 4480
 8586 1631 1688 3107 3300 1052 7395 7463 7789 4184 2570 8577 1794 1833
 8240 1185 6840 5687  807    7 2057 1127 7579  132 3742 3660 1692 9720
 2157 4171 8460 2210 2031 2146 7560 4067 2037 1522 3655 2193 7798 2062
 3740 3830 4016  371 7763  286  402 6070   46 4025  462  466 2766 7450
  430 1744 4087 3974 4455 7582 7280 7790 7583  510 6836 4005 2530  621
 7760 1748 1665 7766  340 6655]
T-test p-value (Margin, PostalCode 2000 vs 8001): nan
T-test p-value (Claim Severity, Men vs Women): 0.5680

C:\Users\senta\AppData\Roaming\Python\Python312\site-packages\scipy\_lib\deprecation.py:234: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  return f(*args, **kwargs)

## Interpretation & Business Recommendation
For each rejected hypothesis (p < 0.05), provide clear business interpretation. Example:

- We reject the null hypothesis for provinces (p < 0.01). Gauteng exhibits a 15% higher loss ratio than Western Cape, suggesting a regional risk adjustment to our premiums may be warranted.